@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/assets/fonts/ibm-plex-sans-var.woff2) format("woff2");
}

:root {
  --border-radius: 4px;
  --transition: transform 0.25s ease-out;
  --color: white;
  --section-padding: 32px 0;
}

html {
  font-family: "IBM Plex Sans", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

section {
  max-width: 1080px;
  margin: 0 auto;
  font-family: "IBM Plex Sans", sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.nav__title {
  margin: 0;
  min-width: max-content;
  font-weight: 900;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 768px) {
  .nav__links {
    display: none;
  }
}

.nav__links__item {
  padding: 12px 8px 9px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.nav__links__item:hover,
.nav__links__item:focus {
  border-radius: var(--border-radius);
  background-color: rgb(238, 238, 238);
}

.nav__links__item--border {
  cursor: pointer;
  padding: 12px 8px 9px;
  border: 2px solid;
  border-radius: var(--border-radius);
}

.container {
  overflow: hidden;
  max-width: 1376px;
  margin: 0px auto 24px;
  padding: 0px 5vw;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  gap: 12px;
  padding: 120px 100px;
}

.hero > * {
  margin: 0;
}

.background {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: column;
  padding: var(--section-padding);
  align-items: center;
  margin-bottom: 64px;
}

section > h2 {
  margin: 0 0 10px;
  font-size: 32px;
  text-align: center;
}

h2 > a {
  text-decoration: none;
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  margin: 36px auto 0;
  position: relative;
}

@media (max-width: 1080px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.experience {
  padding: var(--section-padding);
  margin-bottom: 64px;
}

.experience__list,
.resume {
  max-width: 768px;
  width: 100%;
  margin: 48px auto 0;
}

.resume {
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 12px;
  width: max-content;
  cursor: pointer;
  transition: var(--transition);
}

.resume:hover,
.resume:focus {
  color: gray;
  transform: translate(5px, 0);
}

.resume p {
  margin: 0;
}

.experience__list > *:not(:last-child) {
  margin-bottom: 24px;
}

.experience__list__item {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  transition: var(--transition);
  cursor: pointer;
}

.experience__list__item:hover {
  transform: scale(1.01);
}

.experience__list__item:hover > h3 {
  color: gray;
}

.experience__list__item > * {
  margin-top: 0;
}

@media (min-width: 640px) {
  .experience__date {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.75rem;
  background-color: var(--color);
  border-radius: var(--border-radius);
  transition: var(--transition);
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.project:hover {
  transform: translate(0, -8px);
}

.project__title {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: black;
}

.project__title > svg {
  visibility: hidden;
}

.project__title:hover,
.project__title:focus {
  color: gray;
}

.project__title:hover > svg {
  visibility: visible;
}

.project__title:focus > svg {
  visibility: visible;
}

.project__title__text {
  font-size: 22px;
}

.project__title__icon {
  display: none;
}

.project__description {
  font-size: 17px;
}

.project__tech-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 10px;
  padding: 0px;
}

.project__tech-list .project__tech-list__item {
  font-size: 13px;
  min-width: max-content;
  border-style: solid;
  border-width: 1px;
  padding: 2px 4px;
  border-radius: var(--border-radius);
}

.footer {
  text-align: center;
  min-width: max-content;
  padding: 24px 5vw;
}

.footer__love {
  color: red;
}
